<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <h1>Criar novo video</h1>
    <hr>

    <form action="/create" id="submit" method="post">
        <label for="title">Título:</label>
        <input type="text" name="title">
        <label for="url">Url:</label>
        <input type="text" name="url">
        <input type="submit">
    </form>
</body>

</html>