<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Css -->
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="js/indexCSS.js"></script>
    <title>Hello, world!</title>
</head>

<body>
    <header class="col-sm-12 bg-grad py-5">
        <div class="row justify-content-center text-white m-0">
            <div class="col-9 m-0 p-0">
                <div class="row text-center" style="margin-top: 8em">
                    <h1 class="fw-bolder m-0" id="header-welcome">
                        BEM-VINDE AO LOREM!</h1>
                    <p class="m-0 fw-light" id="header-subtitle">O SEU GUIA DE ESTUDO FAVORITO</p>
                </div>
            </div>
            <div class="col-8 m-0 p-0">
                <div class="rows" style="margin-top: 5em">
                    <p class="m-0 fw-bold">Use a área abaixo para pesquisar os assuntos que você
                        precisa aprender. Basta inserir o nome.</p>
                </div>
            </div>
            <div class="col-8 m-0 p-0">
                <div class="row mt-4">
                    <h6 class="m-0">Exemplos:</h6>
                </div>
                <div class="row">
                    <ul class="list-unstyled small">
                        <li>Agronomia</li>
                        <li>História da Arte</li>
                        <li>HTML e CSS</li>
                        <li>Tecnologia da Informação</li>
                    </ul>
                </div>
            </div>
            <div class="col-8  m-0 p-0mt-3">
                <div class="row">
                    <label for="" class="form-label"></label>
                    <input class="form-control text-center fw-bold" name="" id="searchArea"
                        placeholder="insira o assunto"></input>
                </div>
            </div>
        </div>
    </header>
    <main style="height: 100vh">

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="js/jquery.fittext.js"></script>
</body>

</html>