<div class="row g-0 card-template">
  <div class="row g-0">
    <iframe class="col-10 m-auto" width="727" height="409" src="https://www.youtube.com/embed/<%=video.url%>"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="row g-0">
    <p class="col-10 m-auto fw-bold" id="video-title">
      <%=video.title %>
    </p>
  </div>
  <div class="row g-0">
    <p class="col-10 m-auto small fw-light text-lowercase" id="video-tags">
      <% (video.tags).forEach((tag, index) => { %>
      <%=tag%>
      <% if (index!=(video.tags.length-1)) { %>
      <%="," %>
      <% } %>
      <% }) %>
    </p>
  </div>
</div>